/* Main text styles */

body {
  background: url("../img/crossword.png");
  font size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


h1 {
  color: #3FBAB9;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2em;
  float: center;
}


h5 {
  font-weight: 400;
  font-size: 1.5em;
}

/* other styles */


div header img[src*="logo"] {
  width: 100%;
  max-width: 10em;
  /*background: red;*/
}

div.ui.centered.grid {
  position: relative;
}


ul li {
  margin: 1em;
  text-align: left;
 display: block;
}

ul li a {
  padding: .5em;
}


ul li a:hover {
 color: #000000;
}


ul.column {
  padding-top: 3em;
  list-style-type: none;
  position: relative;
}

section#nav {
  position: fixed;
  z-index: 2;
}

a,
footer {
  color: #3FBAB9;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2em;
}

footer div div a:hover {

 color: #000000;

}

p a {
  margin: .25em;
}

div#image img {
  max-width: 580px;
  margin: auto;
}

.ui.image,
.profile {
  width: 100%;
  min-width: 278px;
  max-width: 580px;
}



header.column.row img {
  width: 100%;
  min-width: 150px;
  max-width: 278px;
}

header#corner img{
position: absolute;
text-align: left;
max-width: 151px;
}

.hide {
  display: none !important;
}

div#body {
  position: relative;
  padding-left: 200px;
}


/*===========
Resume Stying
============*/


header.small-logo {
  width: 30%;
  max-width: 9em;
  top: 0;
  left: 0;
}

div.grid > div#piece.left.floated.column {
}






/*=============
Gallery Stying
==============*/

.fancybox-close {
  top: -50px;
  right: -50px;
}

.ui.stackable.grid > .row:first-child > .column:first-child, .ui.stackable.grid > .column:first-child {
  
}

img.fluid.image {
  width: 100%;
}

/*==========
Media query
==========*/



  /*  Large Desktop  */

 @media screen and (max-width: 1300px) {
  body {

    }


  }


 /*  Desktop  */

 @media screen and (max-width: 1000px) {
  body {
    }


  }

  /*  Tablet styling */

 @media screen and (max-width: 768px) {

    .top_logo {

        }

    


}



   /*  Mobile styling  */

 @media screen and (max-width: 480px) {

    header.small-logo {
      position: center;
    }

  ul li {
    margin: auto;
    text-align: center;
    float: left;
  }


  section#nav.row {
    background-color: grey;
    width: 120% !important;
}

ul.column {
  width: 100%;
  margin: 5em;
  padding-top: 1em;
}

ul li a:hover {
 color: #FFF;
}


div#body {
  position: relative;
  padding-left: 5em;
}

div#body div,
div#body div img{
  padding-left: 2em;
}

div#body > div:first-of-type {
  padding-top: 5em;
}

div#body div h5 {
  text-align: center;
}



}



