/* Your Website Styles */

.container {
  width: 98%;
  margin: 0 auto;
}

body {
  background: url("../img/crossword.png");
  font size: 100%;
  text-align: center;
  font-family: 'Abel', sans-serif;
}


div#tiles,
div p { 
  display: inline-block;
  max-width: 37em;
}


div {
  max-width: 70em;
}


h1 {
  color: #3FBAB9;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: center;
}


div header img[src*="logo"] {
  width: 100%;
  max-width: 25em;
  /*background: red;*/
  float: center;
}


/*========
Navigation
=========*/


nav a {
  margin: 1em .5em 2em .5em;
  background-size: 2em 2em;
  padding: .6em;
}

nav a:hover {
  border: #646464 dotted .18em;
  border-radius: 2em;
}

a {
  color: #3FBAB9;
  text-decoration: none;
  text-transform: uppercase;
}

section img[src*="me"] {
  width: 50%;
  height: 50%;
}


/*========
Style Tile
=========*/

section {
  margin: 20px 20px;
}


.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
  border: 1px solid #000;
  float: left;
  margin: .625em .625em;
  height: 50px;
  width: 50px;
}

.color-1,
.pattern-1 {
  margin-left: 38px;
}

.color-1 {
  background: #B5EBEB;
}

.color-2 {
  background: #3FBAB9;
}

.color-3 {
  background: #646464;
}

.pattern-1 {
  background: url("../img/style-tile/crossword.png") no-repeat;
}

.pattern-2 {
  background: url("../img/style-tile/wild_flowers.png") no-repeat;
}

.pattern-3 {
  background: url("../img/style-tile/dark.png") no-repeat;
}

/*===========
Resume Stying
============*/

footer > a > img[src*="resume"] {
  max-width: 3em;
  height: 3em;
  margin: .6em;
  opacity: .8;
}

header.small-logo {
  width: 30%;
  max-width: 9em;
  top: 0;
  left: 0;
}




/*=============
Gallery Stying
==============*/

.gallery {
  position: relative;
  margin-bottom: 9em;
}

.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
}


.gallery .controls {
  position: absolute;
  bottom: -8.1em;
  width: 100%;
  text-align: center;
}

.gallery .controls img,
.gallery .controls img {
  transition: .25s;
}


.gallery .controls img:hover,
.gallery .controls img:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery .controls img {
  
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}





/*==========
Media query
==========*/



  /*  Large Desktop  */

 @media screen and (max-width: 1300px) {
  body {

    }

    div#tiles {
      position: relative;
    }

    div#tiles { 
      max-width: 19em;
    }

  }


 /*  Desktop  */

 @media screen and (max-width: 1000px) {
  body {
    }


  }

  /*  Tablet styling */

 @media screen and (max-width: 768px) {
  body {

    }


}



   /*  Mobile styling  */

 @media screen and (max-width: 480px) {

    header.small-logo {
      position: center;
    }






}



