







/* ========
My sources: 
  - http://css-tricks.com/almanac/properties/d/display/
  - gallery button hover: http://codepen.io/anon/pen/ypmAj
  - z-index: http://css-tricks.com/almanac/properties/z/z-index/;
  - centering image in portfolio for media query: http://www.sitepoint.com/css3-responsive-centered-image/
  - Colin Manikoth's codepens used for class (Spring 2014)
==========*/











.container {
  width: 98%;
  margin: 0 auto;
}

body {
  background: url("../img/crossword.png");
  font size: 100%;
  text-align: center;
  font-family: 'Abel', sans-serif;
}


div#tiles,
div p { 
  display: inline-block;
  max-width: 37em;
}


div {
  max-width: 70em;
}


h1 {
  color: #3FBAB9;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: center;
}


div header img[src*="logo"] {
  width: 100%;
  max-width: 25em;
  /*background: red;*/
  float: center;
}


/*========
Navigation
=========*/


nav a {
  margin: 1em .5em 2em .5em;
  background-size: 2em 2em;
  padding: .6em;
}

nav a:hover {
  border: #646464 dotted .18em;
  border-radius: 2em;
}

a {
  color: #3FBAB9;
  text-decoration: none;
  text-transform: uppercase;
}

section img[src*="me"] {
  width: 50%;
  height: 50%;
}


/*========
Style Tile
=========*/

section {
  margin: 20px 20px;
}


.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
  border: 1px solid #000;
  float: left;
  margin: .625em .625em;
  height: 50px;
  width: 50px;
}

.color-1,
.pattern-1 {
  margin-left: 38px;
}

.color-1 {
  background: #B5EBEB;
}

.color-2 {
  background: #3FBAB9;
}

.color-3 {
  background: #646464;
}

.pattern-1 {
  background: url("../img/style-tile/crossword.png") no-repeat;
}

.pattern-2 {
  background: url("../img/style-tile/wild_flowers.png") no-repeat;
}

.pattern-3 {
  background: url("../img/style-tile/dark.png") no-repeat;
}

/*===========
Resume Stying
============*/

footer > a > img[src*="resume"] {
  max-width: 3em;
  height: 3em;
  margin: .6em;
  opacity: .8;
}

header.small-logo {
  width: 30%;
  max-width: 9em;
  top: 0;
  left: 0;
}




/*=============
Gallery Stying
==============*/

.gallery {
  position: relative;
  margin-bottom: 9em;
}

.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;

}


.gallery .controls {
  position: absolute;
  bottom: -8.1em;
  width: 100%;
  text-align: center;


}

.gallery .controls img,
.gallery .controls img {
  transition: .25s;
  position: relative;
}

.gallery .controls .control-button {
  width: 100px;
  height: 100px;
  background: #3FBAB9;
  position: relative;
  transition: .25s;
}

.gallery .controls .control-button:hover,
.gallery .controls .control-button:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

    z-index: 999;
}


.gallery .controls img:hover,
.gallery .controls img:active {
    opacity: .1;
}


.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 2.8em;
  text-align: center;
  text-decoration: none;
}

.gallery .controls .control-button p {
  position: absolute;
  font-size: .22em;
  padding: 1em;
  display: none;
  text-align: center;
  top: 20px;
  color: black;
  width: 84px;
  margin-left: -1em;

  transition: .25s;
}

.gallery .controls .control-button:hover p,
.gallery .controls .control-button:active p {
      -webkit-transform: scale(1.2);
    transform: scale(1.2);

  position: absolute;
  display: inline;
  width: 100px;  
}





/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}





/*==========
Media query
==========*/



  /*  Large Desktop  */

 @media screen and (max-width: 1300px) {
  body {

    }

    div#tiles {
      position: relative;
    }

    div#tiles { 
      max-width: 19em;
    }

  }


 /*  Desktop  */

 @media screen and (max-width: 1000px) {
  body {
    }


  }

  /*  Tablet styling */

 @media screen and (max-width: 768px) and (min-width: 536px) {
  body {

    }


    body .gallery .controls {
      bottom: -8em;
      width: 100%;
    }

    .gallery {
      margin-bottom: 9em;
}

    .gallery .item {
      width: 200%;
      left: -40%;
      overflow: hidden;
      position: absolute;
    }
  .gallery .item:first-of-type {
  position: relative;
}

}



   /*  Mobile styling  */

 @media screen and (max-width: 537px) {

    header.small-logo {
      position: center;
    }

    .gallery {
      margin-bottom: 14em;
    }

    .gallery .item {
      position: absolute;
      width: 200%;
      left: -70%;
      overflow: hidden;
    }


    body .gallery .controls {
      bottom: -13.5em;
      width: 100%;
    }

    .gallery .item:first-of-type {
       position: relative;
      left: -80%;
    }

    nav a {
      margin: 1em .2em 2em .2em;
      background-size: 2em 2em;
      padding: .6em;
    }

    section img[src*="me"] {
      width: 40%;
      height: 40%;
    }


  }




